<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.java.mapper.FrontOoMapper" >



<!-- 信息列表 -->
<select id="findoo" resultType="order">
	SELECT * FROM `order`
	</select>

<!-- 根據id號修改信息 -->
 	<update id="updateoo"  parameterType="order">
 	UPDATE `order` SET oname=#{oname},omessage=#{omessage},omoney=#{omoney},ostate=#{ostate},odizhi=#{odizhi},ochuxing=#{ochuxing},ut=#{ut},uphone=#{uphone},uname=#{uname}
 	where id=#{id}
 	</update>


<!--删除信息 根据id号  -->
 	<delete id="deleteoo" parameterType="Long">
 	delete from `order` 
 	where id=#{id}
 	</delete>
 	
 	<!-- 先找出id号 利用id号进行修改 -->
	<select id="getOrder" parameterType="Long" resultType="order">
 		select * from `order` where id=#{id}
 	</select> 
 </mapper>